# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
immich_ml_proxy

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Configuration file (contains sensitive data)
config.json